.vscode/
resources/TestNode/target/
resources/TestNode/target/
.DS_Store
.bin/
.bin/objs/
bin/objs/c_node.o
bin/objs/hashtable.o
beji.pdf

*.o
*.out
*.exe
bin/*
bin/objs/*
test/test_insert
test/test_lookup
test/test_lookup1




